.element {
  border: 1px dashed black;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 1;
}

.active {
  z-index: 2;
  transform: scale(1.1);
  background: yellow;
  box-shadow: 5px 5px 5px brown;
}