.app {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 95vw;
  margin: 50px auto;
  background: rgb(255, 211, 115)
}